version: '3'

services:
  web:
    image: nginx:latest
    container_name: webserver
    volumes:
      - ./code:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    ports:
      - "8081:80"
    #environment:
    #  - NGINX_HOST=foobar
    #  - NGINX_PATH=/var/www/foobar/public
    #  - NGINX_PORT=80
    #command: /bin/bash -c "envsubst < /etc/nginx/conf.d/template.conf > /etc/nginx/conf.d/$$NGINX_HOST.conf && exec nginx -g 'daemon off;'"
    networks:
      - homestead

  php:
    #image: php:fpm
    image: laravel_app
    container_name: laravel_app
    volumes:
      - ./code:/var/www
      - ./docker/php-fpm/log.conf:/usr/local/etc/php-fpm.d/zz-log.conf
    networks:
      - homestead

  db:
    image: mysql:5.7.22
    container_name: db
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: homestead
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_USER: homestead
      MYSQL_PASSWORD: secret
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    networks:
      - homestead

networks:
  homestead:
